<h3>Edit a specific party</h3>


<form class="form" action="/parties/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="party[number_of_people]" value="<%=@party.number_of_people%>">
  <input type="text" name="party[special_request]" value="<%=@party.special_request%>">
  <input type="text" name="party[has_paid]" value="<%=@party.has_paid%>">
  <input type="text" name="party[stand_number]" value="<%=@party.stand_number%>">
  <input type="submit" value="Update Party">


</form>
