

<h3>Table number <%=@party.stand_number%></h3>


<ul>


<li>  <%= @party.number_of_people %> </li>
<li>  <%=@party.special_request%> </li>
<li>  <%=@party.has_paid%></li>
<li>  <%=@party.stand_number%></li>

</ul>

<ul>

  <% @dishes.each do |dish| %>
  <li>
    <%=dish.name%> -- <%=dish.price%>
  </li>
  <%end%>

<h2>  Total is <%= @total %> </h2>

<div>

  <FORM METHOD="LINK" ACTION="/parties/<%= @party.id %>/edit">
  <INPUT TYPE="submit" VALUE="Edit">
  </FORM>
  <form action="/parties/<%= @party.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Party">
  </form>


  </div>
